exported_workflows.json
[{"createdAt":"2025-10-02T02:15:01.296Z","updatedAt":"2025-10-02T03:13:59.000Z","id":"QTivDoyJXimu00OU","name":"Carbon-Footprint","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"b24b05a7-d802-4413-bfb1-23e1e76f6203","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[368,32],"webhookId":"a889d2ae-2159-402f-b326-5f61e90f602e"},{"parameters":{"content":"## Start by saying 'hi'\n![Button](https://i.imgur.com/PrIBJI6.png)","height":149,"width":150},"id":"5592c045-6718-4c4e-9961-ce67a251b6df","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,-48]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}\n","options":{"systemMessage":"=You are an AI Agent specialized in carbon footprint analysis of architectural projects.\n\nYour main task is to analyze the contents of a given URL (which may include text, images, PDFs, BIM models, or other documents) describing an architectural project and then:\n\nExtract relevant information such as:\n\nProject type (residential, commercial, industrial, etc.)\nLocation (country, climate zone, urban/rural setting)\nBuilding size (floor area, height, number of floors)\nConstruction materials and quantities (concrete, steel, wood, glass, insulation, finishes, etc.)\nEnergy systems (HVAC, lighting, renewable sources, fossil-fuel use)\nWater and waste management systems\nTransportation or mobility considerations (e.g., parking, bike storage, public transit proximity)\n\nULTIMATE GOAL: Estimate carbon footprint for each stage of the building lifecycle:\n\nEmbodied carbon (extraction, manufacturing, transport, and construction of materials)\nOperational carbon (heating, cooling, electricity, water use, lighting, appliances over the building’s lifespan)\nEnd-of-life carbon (demolition, disposal, recycling potential)\n\nProvide outputs in a structured format, including:\n\nTotal estimated carbon footprint (in kgCO₂e or tCO₂e)\nBreakdown by lifecycle stage (embodied, operational, end-of-life)\nKey drivers of emissions (e.g., high cement use, inefficient HVAC, lack of renewable energy)\nSuggested alternatives or mitigation strategies (e.g., use of low-carbon concrete, more insulation, renewable energy integration, timber instead of steel, passive design strategies).\n\nCommunicate clearly, using:\n\nNumerical estimates with clear units (kgCO₂e/m², total tCO₂e)\nTables or bullet points where appropriate\nA short plain-language summary for non-experts\n\nConstraints:\n\nIf the URL lacks sufficient data, state assumptions clearly and explain uncertainties.\nFollow recognized frameworks such as IPCC guidelines, LEED, BREEAM, or RICS Whole Life Carbon Assessment whenever possible.\nBe transparent about data sources, assumptions, and calculation methods.\n\nYour goal is to provide a reliable, structured, and actionable carbon footprint analysis to help architects, engineers, and stakeholders make informed decisions about sustainability."}},"id":"41174c8a-6ac8-42bd-900e-ca15196600c5","name":"Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[624,32]},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[624,256],"id":"b63951fa-4ee3-4d74-a34a-310d95f28eb6","name":"Simple Memory"},{"parameters":{"options":{"maxOutputTokens":2048}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[448,256],"id":"e056fcc8-a7a8-476a-9cb8-b88b09e853fc","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"y25k845dxeDYCu3P","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Accept"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[768,256],"id":"98b3457b-7337-4e25-8214-8aefd2f6defe","name":"HTTP Request"}],"connections":{"When chat message received":{"main":[[{"node":"Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agent","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agent","type":"ai_languageModel","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"self-building-ai-agent","templateCredsSetupCompleted":true},"pinData":{},"versionId":"b5e20e54-da2e-4a47-902a-f6ca4c92bbd9","triggerCount":0,"tags":[]}]